nav {
  background-color: #333;
  padding: 1rem;

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }

  li {
    a {
      color: white;
      text-decoration: none;
      font-size: 1rem;
      padding: 0rem 3rem;


      &:hover {
        text-decoration: underline;
      }
    }
  }
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}
